@{ Layout = ""; }

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Admin Login</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>


    <link href="../Scripts/Custom/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="../Scripts/Custom/style.bundle.css" rel="stylesheet" type="text/css" />

</head>

<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-3" id="m_login" style="background-image: url(../../Images/bg-2.jpg);">
            <div class="m-grid__item m-grid__item--fluid	m-login__wrapper ">
                <div class="m-login__container">
                    <div class="m-login__logo">
                        <a href="#">
                            <img src="~/Images/Admin.png">
                        </a>
                    </div>
                    <div class="m-login__signin">
                        <div class="m-login__head">
                            <h3 class="m-login__title">Sign In To Admin</h3>
                        </div>
                        @using (Html.BeginForm("AdminLogin", "Home", FormMethod.Post, new { @class = "m-login__form m-form" }))
                        {
                            <div class="form-group m-form__group">
                                <input class="form-control m-input" type="text" placeholder="User Name" name="userName" autocomplete="off">
                            </div>
                            <div class="form-group m-form__group">
                                <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Password" name="password">
                            </div>

                            <div class="m-login__form-action">
                                <button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn">Sign In</button>
                            </div>
                        }

                    </div>

                    @if (ViewBag.error != "")
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.error
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <script src="../Scripts/Custom/vendors.bundle.js" type="text/javascript"></script>
    <script src="../Scripts/Custom/scripts.bundle.js" type="text/javascript"></script>


</body>

</html>
